{% load staticfiles %}
<footer id="footer" class="footer">
    <div class="container">
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6 frame">
        	<a href="https://www.nectar.org.au"><img src="{% static 'images/logo_nectar.png' %}"></a>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6 col-lg-offset-1 frame">
            <a href="http://www.unimelb.edu.au/"><img src="{% static 'images/logo_uom.png' %}"></a>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6 col-lg-offset-1 frame">
            <a href="http://www.uq.edu.au/"><img src="{% static 'images/logo_uq.png' %}"></a>
        </div>
        <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6 col-lg-offset-1">
            <h3 class="pull-right"><i class="fa fa-share-alt"></i> Social Media </h3>
            <ul class="pull-right">
            <a href="https://www.facebook.com/gvl"><i class="fa fa-facebook-square fa-3x social-icons social-fb"></i></a>
            <a href="https://twitter.com/gvl"><i class="fa fa-twitter-square fa-3x social-icons social-tw"></i></a>
            <a href="https://plus.google.com/gvl"><i class="fa fa-google-plus-square fa-3x social-icons social-gp"></i></a>
            <a href="mailto:help@genome.edu.au"><i class="fa fa-envelope-square fa-3x social-icons social-em"></i></a>
            </ul>
        </div>
    </div>
    <!--/.footer-->
</footer>